
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

html {

}
body {
  background-color: white;
 overflow-y: scroll;


 }
*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toppart {
  width: 100%;
  top: 0;
  padding-bottom: 15vh;
  padding-top: 15vh;

}
.first {
  background-color: black; /*#24263D */
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: auto;
}
.aboutpage {
  width: 100%;
  height: 100vh;
  background-color: #F6D0CC; /*#424670 */
  display: flex;
  flex-direction: row;
}
.content2 {
  padding-top: 5vh;

}
.descrip {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  padding: 1vh;
  padding-bottom: 5vh;
}
h5 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2em;
}
.project {
  width: 100%;
 
  height: auto;
  background-color: black;
}
.act {
   width: 100%;
  height: auto;
  background-color: #F6D0CC;
padding-bottom: 5vh;
}
.sectiontitle {
  text-align: left;
}
h1{
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #F6D0CC;
  text-align: center;
  margin: 2rem 0;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
h2.sectiontitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: black;
  text-align: left;
  font-size: 6em;
  padding-top: 17vh;
 /* text-shadow: 6px 6px 0 #f07a6a; */
}
.description {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: left;
  color: black;
  font-size: 2em;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h4.content2 {
  color: #F6D0CC;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #F6D0CC;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}
div.container
{
    font-family: Raleway;
    margin: 0 auto;
  padding: 1em 2em;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 12;
  

  
}

div.container a
{
    
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: center;
}
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
.homelink {
  color: white;
}
.projectlink, .aboutlink, .activitieslink{
  color: white;
}

.content, .content2 {
  display: flex;
  align-content: center;
  justify-content: center;
}

h2.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(7rem + 5vw);
  text-align: center;
  margin-top: 3vh;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 3s ease-in infinite, move 3s ease-in infinite;
  letter-spacing: 0.4rem;
}
h3.text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(4rem + 2vw);
  text-align: center;
  margin-top: 3vh;
  padding-top: 1vh;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 3s ease-in infinite, move 3s ease-in infinite;
  letter-spacing: 0.4rem;
}
h4.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(2rem + 2vw);
  text-align: center;
  margin-top: 3vh;
  padding-top: 10vh;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 3s ease-in infinite, move 3s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.main{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40vh;
  text-decoration: none;
}
h4.project {
  color: white;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

h2.card-title {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-decoration: none;
}
a {
  text-decoration: none;
}
img {
  height: 40vh;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  transition: 2s ease;

}
.card_image:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

}
.card:hover  {
  box-shadow: 5px 10px #ee6352;
}
.card2:hover  {
  box-shadow: 5px 10px #ee6352;
}

.btn {
  color: black;
  padding: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  border-radius: 4px;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}
.btn2 {
  color: white;
  padding: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  border-radius: 4px;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}



.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 4vh;
  text-decoration: none;
  justify-content: center;
 
}

.cards_item {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;

  
}
.cards_item2 {
  display: flex;
  padding: 5vh;
  flex-wrap: wrap;
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 75%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 40rem) {
  .cards_item2 {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item2 {
    width: 33%;
  }
}
.card {
  background-color: #F6D0CC;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  flex: 1;
  
}

.card2 {
  background-color: black;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        
  
}
.card_content {
  padding: 1rem;
  background: #F6D0CC;
  text-decoration: none;
  display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        
}
.card_content2 {
  padding: 1rem;
  background: black;
  text-decoration: none;
display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        
}

.card_title {
  color: black;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-decoration: none;
}

.card_text {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}
.card_title2 {
  color: white;
  font-size: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-decoration: none;
}

.card_text2 {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  flex: 1;
}
